// SKILLS SECTION SPECIFIC
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.technical-skills {
  @include container;
  &__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 4.6875em;
    margin-top: 5.5em;

    // @include tablet {
    //   display: flex;
    //   justify-content: center;
    //   flex-wrap: wrap;
    //   gap: 5em;
    // }
  }

  // &__header {
  //   @include center-heading;
  // }
}
