@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: $font-body;
  color: $color-grey-dark;
  font-size: 1rem;
}

h1 {
  font-family: $font-body;

  font-size: 2.25rem;

  @include mq {
    font-size: 5vw;
  }

  span {
    font-size: 1.5rem;
    color: $color-green;

    @include mq {
      font-size: 3vw;
    }
  }
}

h2 {
  font-family: $font-body;
  color: $color-green;
  font-size: 2.25rem;

  @include mq {
    font-size: 5vw;
  }
}

h3 {
  font-size: 2rem;

  @include mq {
    font-size: 4.5vw;
  }
}

h4 {
  font-size: 1.5rem;

  @include mq {
    font-size: 3vw;
  }
}

p {
  @include mq {
    font-size: 1.125rem;
  }
}
