@use "../../assets/sass/variables" as *;

@use "../../assets/sass/mixins" as *;

.hero {
  background-color: $color-dark-purple;
  @include container;
  padding-top: 5em;
  padding-bottom: 3em;

  @include mq {
    padding-top: 7em;
  }

  @include mq1024 {
    padding-top: 10em;
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em 1em 3em 0;
    width: 60vw;

    &-name {
      color: $color-green;
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.05;
      @include mq {
        font-size: 3vw;
      }

      span {
        font-size: 1.5rem;

        @include mq {
          font-size: 2vw;
        }
      }
    }

    &-heading {
      color: $color-grey-light;
      font-size: 1.25rem;
      font-weight: 400;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;

      @include mq {
        font-size: 3vw;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
