@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

// .menu-button {
//   background-color: transparent;
//   border: none;

//   cursor: pointer;

//   &__close-x {
//     stroke: $color-dark-purple;
//     stroke-linecap: round;
//     stroke-width: 4;
//     display: none;
//   }

//   @include mq {
//     width: 3em;
//     height: 3em;
//   }
// }

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: 200;

  ul {
    background-color: $color-green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      border-bottom: 0.06rem solid $color-light-purple;

      display: inline-block;
      color: $color-dark-purple;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: calc(100vh / 8) 0;
      line-height: 0;
      width: 100%;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      @include mq {
        font-size: 5vw;
      }
    }

    li:hover {
      color: $color-white;
      background: rgba($color-light-purple, 0.5);
    }
  }
}

.open-nav-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.open-nav-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.open-nav-exit {
  transform: translateX(0);
  opacity: 1;
}

.open-nav-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

// .modal-button {
//   position: fixed;
//   width: 1.5rem;
//   height: 1.5rem;
//   top: 2rem;
//   left: 2rem;

//   border: none;
//   cursor: pointer;
//   z-index: 13;

//   &__close-x {
//     stroke: $color-dark-purple;
//     stroke-linecap: round;
//     stroke-width: 5;
//   }

//   @include mq {
//     width: 2.5rem;
//     height: 2.5rem;
//   }
// }
