// SKILLS SECTION SPECIFIC
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.technical-skills {
  clear: left;

  &__heading {
    margin-top: 2em;
    font-size: 1.8rem;

    @include mq {
      margin-top: 4em;
      font-size: 3.3vw;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 1rem;
    margin-top: 2rem;

    @include mq480 {
      display: flex;
      justify-content: space-between;
      margin: 2rem auto;
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 2rem;

    &-sass {
      width: 2.5rem;
      @include mq {
        width: 4vw;
      }
    }

    @include mq {
      font-size: 4vw;
    }

    &-title {
      font-size: 0.4em;
      margin: 0.3rem 0;

      @include mq480 {
        font-size: 0.3em;
      }
    }
  }
}

.fa-html5 {
  color: #de4b25;
}

.fa-css3-alt {
  color: #239ddb;
}

.fa-square-js {
  color: #f0d81d;
}

.fa-sass {
  color: #c76495;
}

.fa-react {
  color: #0cd5f2;
}
