@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.header {
  background-color: $color-dark-purple;
  color: $color-grey-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5%;

  &__title {
    display: inline-flex;
    align-items: center;

    &-name {
      margin: 0 0.4rem;
    }
  }

  &__mobile-nav {
    background-color: $color-black;
    padding: 0.3em 0.5em;
  }
}
