@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.header {
  @include container;

  position: fixed;

  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625em 0.6em 1.5625em 0.3em;

  &__logo-name {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
  }

  &__title {
    font-size: $text-h3;
    color: $primary-color-navy;
  }

  @include laptop {
    &__mobile-nav {
      display: none;
    }
  }
}
