@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.projects-list {
  //   margin-top: 3rem;
  padding-bottom: 3em;
  @include container;

  &__heading {
    padding: 1.5rem 0 1rem 0;

    @include mq {
      font-size: 5vw;
    }
  }

  &__content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }

    & :nth-of-type(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
  }
}
