// FOOTER SECTION
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.footer-content {
  @include container;
  background-color: $color-dark-purple;
  padding-top: 5em;
  padding-bottom: 5em;

  @include mq480 {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    padding: 1.5rem 0 1rem 0;
  }

  &__links {
    display: inline-block;
  }

  &__email {
    text-align: center;
    margin-top: 1rem;

    &-address {
      color: $color-grey-light;

      &:hover {
        color: $color-green;
      }
    }
  }

  &__social-icons {
    // @include container;
    max-width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

.fa-github,
.fa-linkedin {
  color: $color-grey-light;
  cursor: pointer;

  &:hover {
    color: $color-green;
  }
}
