// FOOTER SECTION
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.footer-content {
  @include container;
  background-color: $color-dark-purple;
  padding-top: 2em;
  padding-bottom: 5em;

  @include mq480 {
    display: flex;
    justify-content: space-around;
  }

  // change over mq480
  &__heading {
    padding: 1.5rem 0 1rem 0;
    display: flex;
    justify-content: center;

    @include mq480 {
      align-self: flex-end;
      padding: 0;
    }
  }

  // change over mq480
  &__links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    @include mq480 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__email {
    margin-top: 1rem;

    @include mq480 {
      margin-top: 0.5rem;
      font-size: 2vw;
    }

    &-address {
      color: $color-grey-light;

      &:hover {
        color: $color-green;
      }
    }
  }

  &__social-icons {
    @include mq480 {
      @include container;
      max-width: 7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
  }
}

.fa-github,
.fa-linkedin {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.1em;

  @include mq {
    font-size: 4vw;
  }
}
