@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.project-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  border: 1px solid $color-grey-light;
  background-color: $color-light-purple;
  border-radius: 2px;
  z-index: 300;
  overflow-y: scroll;

  &__close {
    color: $color-white;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;

    &:hover,
    &:focus {
      color: $color-green;
    }

    @include mq {
      font-size: 4vw;
    }

    @include mq1024 {
      margin-top: 2rem;
      margin-right: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;

    @include mq480 {
      padding: 3em;
    }

    @include mq {
      padding: 5em;
    }

    @include mq1024 {
      padding: 7em;
    }
  }

  &__short-desc {
    margin-top: 1rem;
    color: $color-green;
  }

  &__stack {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  &__description {
    display: flex;
    margin-top: 3rem;

    @include mq480 {
      justify-content: space-between;
    }

    &-text {
      margin-right: 1rem;
      width: 70%;
    }
  }

  &__links {
    margin-top: 1rem;
  }

  &__link {
    color: $color-grey-light;
    display: block;
    margin-top: 0.5rem;

    @include mq {
      font-size: 2vw;
    }

    &-icon {
      margin-left: 0.3rem;
    }
  }

  &__thumbnail {
    align-self: center;
    width: 25%;

    @include mq480 {
      width: 22%;
      margin-right: rem;
    }

    @include mq {
      width: 20%;
      margin-right: 2rem;
    }

    @include mq1024 {
      width: 15%;
      margin-right: 5rem;
    }
  }
}

// CSS TRANSITION PROPERTIES

.open-modal-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.open-modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all ease 300ms;
}

.open-modal-exit {
  transform: translateX(0);
  opacity: 1;
}

.open-modal-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all ease 300ms;
}
