@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.project-modal {
  display: block;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 1px solid $color-grey-light;
  background-color: $color-light-purple;
  border-radius: 2px;
  z-index: 300;
  overflow: scroll;

  & button {
    position: fixed;
    right: 1.5rem;
    top: 0.2rem;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    color: $color-white;
    border: none;
    z-index: 100;
    font-size: 4rem;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-green;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__title {
    margin-top: 1em;
  }

  &__short-desc {
    margin-top: 1em;
    color: $color-green;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }

  &__thumbnail {
    float: right;
    width: 30%;
  }
}

// CSS TRANSITION PROPERTIES

.open-modal-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.open-modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.open-modal-exit {
  transform: translateX(0);
  opacity: 1;
}

.open-modal-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}
