@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.about-me {
  @include container;

  &__heading {
    padding: 1.5rem 0 1rem;
  }

  &__content {
    border-radius: 0.5rem;
    background-color: $color-dark-purple;
    padding: 1em;
    padding-bottom: 3em;

    @include mq {
      padding: 3em;
    }
  }

  &__content > img {
    float: left;
    margin: 0.5rem 0.6rem 0.6rem 0;
    shape-outside: circle(50%);

    @include mq1024 {
      margin-right: 1rem;
    }
  }

  &__image {
    width: 45%;
    border-radius: 50%;

    @include mq480 {
      width: 30%;
    }

    @include mq {
      width: 25%;
    }
  }

  &__text {
    margin-top: 1rem;
  }
}
