// FOOTER SECTION
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.footer {
  @include container;
  background-color: $color-dark-purple;
  padding-bottom: 5em;

  p {
    color: $color-grey-light;
    font-size: 0.625rem;
  }

  &__email {
    text-align: center;
    margin-top: 1rem;

    &-address {
      color: $color-grey-light;

      &:hover {
        color: $color-green;
      }
    }
  }
}

.fa-github,
.fa-linkedin {
  color: $color-grey-light;
  cursor: pointer;

  &:hover {
    color: $color-green;
  }
}

.footer__social-icons {
  // @include container;
  max-width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto 0;

  @include mq {
    max-width: 7rem;
  }
}

.copyright {
  &::before {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: rgba($color-light-purple, 0.75);
    margin: 4rem auto;
    width: 50%;
  }
}
