@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: $font-body;
  color: $color-grey-light;
  font-size: 1rem;
}

h1 {
  @include mq {
    font-size: 3vw;
  }
}

h2 {
  color: $color-green;
  font-size: 2.25rem;

  @include mq {
    font-size: 5vw;
  }
}

h3 {
  font-size: 2rem;

  @include mq {
    font-size: 4.5vw;
  }
}

h4 {
  font-size: 1.5rem;

  @include mq {
    font-size: 3vw;
  }
}

h5 {
  font-size: 1rem;

  @include mq {
    font-size: 2.3vw;
  }
}

p {
  line-height: 1.5;
  margin-top: 0.5rem;
  @include mq {
    font-size: 2vw;
  }
}

li {
  @include mq {
    font-size: 1.5vw;
  }
}
